{% extends 'base.html.twig' %}
{% block body %}
{{ include('header/index.html.twig') }} 
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card shadow-lg p-4" style="width: 100%;">
            <h1 class="text-center mb-4">Connexion</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post" action="{{ path('app_login') }}">
             {# {{ csrf_token('authenticate') }} #}
                <div class="mb-3 row">
                    <label for="username" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-4 col-form-label">Mot de passe</label>
                    <div class="col-sm-8">
                       <input type="password" id="password" name="_password" class="form-control" required autocomplete="current-password">

                    </div>
                </div>
                <div class="mb-3">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-primary w-100" type="submit">Se connecter</button>
                </div> Vous n'avez pas de compte ?  <a href="{{ path('app_register') }}"> S'inscrire</a>
            </form>
        </div>
    </div>
    <div class="text-center mt-3">
      
    </div>
    {{ include('footer/index.html.twig') }} 
{% endblock %}